/* App.css */

.main-app {
  text-align: center;
  margin: 100px;
}

.cta-button {
  padding: 20px 30px;
  border: none;
  border-radius: 8px;
  min-width: 200px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
}

.connect-wallet-button {
  background-color: #2081E6;
}